// Custom Bootstrap variables
$blue: #0092e4;
$darkblue: #0058e3;
$red: #de524c;
$yellow: #e7b549;
$green: #24a8af;
$cyan: #55afe7;
$white: #fff;
$gray: #5a607d;
$lightgray: #ebedf5;

// Override Bootstrap's default variables
$primary: $blue;
$secondary: #596080;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: #fafafc;
$dark: #1c2033;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "gray": $gray,
  "lightgray": $lightgray,
  "darkblue": $darkblue,
);

// Custom breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 1024px,
  lg: 1280px,
  xl: 1400px,
  xxl: 1800px,
);

// Typography
$font-family-sans-serif: "Averta", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace;
$font-size-base: 1rem;
$font-size-lg: 1.125rem;
$font-size-sm: 0.875rem;
$font-weight-normal: 400;
$font-weight-bold: 700;
$line-height-base: 1.5;

// Headings
$h1-font-size: 3rem;
$h2-font-size: 2.25rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.25rem;
$h5-font-size: 1rem;
$h6-font-size: 0.875rem;

// Display headings
$display1-size: 6rem;
$display2-size: 5.5rem;
$display3-size: 4.5rem;
$display4-size: 3rem;
$display-font-weight: 300;
$display4-font-weight: 700;
$display-line-height: 1.2;

// Lead
$lead-font-size: 1.125rem;
$lead-font-weight: $font-weight-normal;

// Small
$small-font-size: 0.85em;

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,

  // Custom spacers
  1b: $spacer * 0.25,
  2b: $spacer * 0.5,
  3b: $spacer * 0.75,
  4b: $spacer * 1,
  5b: $spacer * 1.25,
  6b: $spacer * 1.5,
  7b: $spacer * 1.75,
  8b: $spacer * 2,
  9b: $spacer * 2.25,
  10b: $spacer * 2.5,
  11b: $spacer * 2.75,
  12b: $spacer * 3,
  13b: $spacer * 3.25,
  14b: $spacer * 3.5,
  15b: $spacer * 3.75,
  16b: $spacer * 4,
);
