// Import our custom fonts
@import "fonts";

$btn-border-radius: 12px;

// Import Bootstrap functions and variables first
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

// Import our custom variables & utilities
@import "variables";
@import "utilities";
@import "bootstrap/scss/bootstrap";

html,
body,
#__nuxt {
  height: 100%;
}

:root {
  --h1-line-height: 3.625rem;
  --h2-line-height: 2.75rem;
  --h3-line-height: 2rem;
  --h4-line-height: 1.75rem;
  --h5-line-height: 1.5rem;
  --h6-line-height: 1.25rem;

  --body: #{$dark};
  --line-height-base: #{$line-height-base}rem;
}

@include media-breakpoint-up(lg) {
  .row-cols-lg-8 > * {
    flex: 0 0 percentage(1 / 8);
    max-width: percentage(1 / 8);
  }
}

// For xl breakpoint: row-cols-xl-10
@include media-breakpoint-up(xl) {
  .row-cols-xl-10 > * {
    flex: 0 0 percentage(1 / 10);
    max-width: percentage(1 / 10);
  }
}

.bg-white-99 {
  background-color: rgba(255, 255, 255, 0.99) !important;
}

.font-karla {
  font-family: "Karla", sans-serif;
}

.form-switch > .form-check-input {
  background: #b5bad4;
  height: 1.25rem;
  width: 2.25rem;
  background-repeat: no-repeat;
  background-position: left;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}

.form-switch > .form-check-input:checked {
  background: #2ca7af;
  height: 1.25rem;
  width: 2.25rem;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
  background-repeat: no-repeat;
  background-position: right;
}

.form-check-input:checked[type="radio"] {
  background-color: white;
  border-color: #3d92de;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%233D92DE'/%3e%3c/svg%3e");
}
